.Navbar{
    background-color: #212529;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.body{
    display: flex;
    flex-direction: row;
}