.viewError{
    width: 100%;
    margin: 0 0 0 0;
    overflow-x: auto;
}

.error-title-heading{
    margin: 2rem 0 1rem 3rem;
}

.error-title-view-content{
    width: 80%;
    padding: 1rem;
    margin: 2rem 0 1rem 3rem;
    border: 1px solid grey;
    background-color: lightgrey;
}

.project-name-heading{
    margin: 2rem 0 1rem 3rem;
}

.project-name-view-content{
    width: 80%;
    padding: 1rem;
    margin: 2rem 0 1rem 3rem;
    border: 1px solid grey;
    background-color: lightgrey;
}

.problem-description-heading{
    margin: 2rem 0 1rem 3rem;
}

.problem-description-view-content{
    width: 80%;
    padding: 1rem;
    margin: 2rem 0 1rem 3rem;
    border: 1px solid grey;
    background-color: lightgrey;
}

.solution-text-heading{
    margin: 2rem 0 1rem 3rem;
}

.solution-text-view-content{
    width: 80%;
    padding: 1rem;
    margin: 2rem 0 1rem 3rem;
    border: 1px solid grey;
    background-color: lightgrey;
}

.before-code-fix-view-heading{
    margin: 2rem 0 1rem 3rem;
}

.before-code-fix-view-content{
    width: 80%;
    background-color: lightgrey;
    padding: 1rem;
    margin: 2rem 0 1rem 3rem;
}

.after-code-fix-view-heading{
    margin: 2rem 0 1rem 3rem;
}

.after-code-fix-view-content{
    width: 80%;
    background-color: lightgrey;
    padding: 1rem;
    margin: 2rem 0 1rem 3rem;
}

.image-list-view-heading{
    margin: 2rem 0 1rem 3rem;
}

.image-list-view-content{
    width: 80%;
    background-color: lightgrey;
    padding: 2rem;
    margin: 2rem 0 1rem 3rem;
}

.image-link-view-text{
    background-color: gold;
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 2rem 2rem 2rem 0;
}

.reference-list-view-heading{
    margin: 2rem 0 1rem 3rem;
}

.reference-list-view-content{
    width: 80%;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem 0 2rem 3rem;
}

.reference-link-view-element{
    background-color: gold;
    padding: 1rem;
    margin: 1rem 2rem 1rem 0;
}

.labels-view-heading {
    margin: 2rem 0 1rem 3rem;
}

.labels-view-content {
    width: 80%;
    background-color: lightgrey;
    padding: 1rem;
    margin: 1rem 1rem 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.75rem; /* Rounded corners for a cleaner look */
}

.labels-view-element {
    background-color: gold;
    color: black;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 4px; /* Rounded corners */
    white-space: nowrap; /* Prevents text wrapping */
    display: inline-block; /* Ensures each label is treated as a block */
}

.labels-view-text {
    text-decoration: none;
}


.jodit-status-bar{
    visibility: hidden;
}